<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white">
    <form method="post" action="/login" class="py-5 px-2">
        <h1 class="py-5 text-xl">User Details</h1>
        <input type="email" name="email" class="border border-black rounded px-2" placeholder="Email">
        <input type="password" name="password" class="border border-black rounded px-2" placeholder="Password">
        <input type="submit" value="Login User" class="border border-black rounded px-2 bg-blue-500">
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>
</html>